@import "./../UIVariablesStyle.scss";

.custom__btn {
  width: 170px;
  height: 48px;

  color: #F9F9F9;
  font-size: 16px;

  background-color: $bgColor;
  border: none;
  border-radius: 20px;
  transition: linear 0.1s;

  &:hover {
    background-color: $bgColorHovered;
  }

  &:active {
    background-color: $bgColorActive;
  }

  &:disabled {
    background-color: $bgColorDisabled;
  }
}
